body {
    font-family: 'Agbalumo', sans-serif;
    background-image: url(./images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    margin: 20px;
}

h2 {
    text-align: center;
}

p {
    text-align: left;
}

.carousel {
    margin-bottom: 20px;
 }

 .container-space {
    margin-bottom: 7rem;
 }

 .carousel-inner {
    border-radius: 5px;
 }

 .kontakt-info{
    text-align: center;
 }

 #apartment-p {
    text-align: center;
 }

 #textarea {
    background-color: white;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
 }