h1 {
    text-align: center;
    margin: 20px;
}

h2 {
    text-align: center;
}

p {
    text-align: left;
}

.carousel {
    margin-bottom: 20px;
 }

 .container-space {
    margin-bottom: 7rem;
 }

 #apartment-p {
    text-align: center;
 }